@model Inventory.ViewModels.Purchase.PurchaseIndexViewModel

@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <h2 class="text-left">Create Purchase</h2>
    <div class="row">

        <div class="col-6">

            <div class="form-group shadow p-3 ">
                <label class="font-weight-bold" asp-for="SupplierId"></label>
                <select asp-for="SupplierId" asp-items="@Model.SupplierSelectList" class="form-control required" id="SupplierId"></select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>

            <form class="shadow rounded border-primary border-left  text-dark  p-4" method="post">
                <div class="form-group">
                    <label class="font-weight-bold" asp-for="ItemId"></label>
                    <select asp-items="@Model.ItemSelectList" asp-for="ItemId" class="form-control" id="item_id"></select>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold col-form-label"> Rate: </label>
                    <input id="rate" min="1" value="1" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="font-weight-bold col-form-label"> Quantity: </label>
                    <input id="qty" value="1" class="form-control" placeholder="Input quantity" />
                </div>


                <button id="button" type="submit" class="btn btn-primary"><i class="fa fa-plus"></i></button>
            </form>
        </div>

        <div class="col-6">
            <div class="table-responsive rounded-sm " style="height: 210px; max-height: 300px; overflow-y: scroll;">
                <table class="table">
                    <thead class="thead-dark ">
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Rate</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>

                </table>
            </div>

            <form method="POST">
                <ul class="list-group mt-3">

                    <li class="list-group-item bg active">Sale Detail</li>

                    <li class="list-group-item text-right ">
                        Total &nbsp;
                        <input id="totalAmt" readonly />
                    </li>

                    <li class="list-group-item text-right ">

                        Discount&nbsp;
                        <input id="discount" value="0" min="0" />
                    </li>


                    <li class="list-group-item text-right text-danger ">
                        Grand Total&nbsp;
                        <input id="grand" readonly />
                    </li>

                </ul>



                <button id="btnSave" type="submit" class="btn btn-block btn-success"><i class="fa fa-save"></i></button>
            </form>

        </div>
    </div>



</div>

@section scripts{ 

<script>
    //Create Purchase Jquery

    $(document).ready(function () {

        $('#SupplierId').on('change', function (e) {

            $('#SupplierId').attr('disabled', true);


        });

        $("#btnRemark").on('click',
            function(e) {
                $('#remarks').append("Item Purchased..");
                $('#btnRemark').attr('disabled', true);
            });
        $('#qty').on('keyup',
            function(e) {
                e.preventDefault();
                if ($("#qty").val() < 1) {
                    $("#qty").val(1);
                }
            });
        $('#rate').on('keyup',
            function(e) {
                e.preventDefault();
                if ($("#qty").val() < 1) {
                    $("#qty").val(1);
                }
            });
        $('#discount').on('keyup',
            function (e) {
                e.preventDefault();
                var total = $("#totalAmt").val();
                var discount = $("#discount").val();
                if (parseFloat(discount) < 0) {
                    $("#discount").val(0);
                }
                if (parseFloat(discount) > parseFloat(total)) {
                    $("#discount").val(total);
                }
                calculateTotal();
            });

        function checkDuplicate(itemId) {
            event.preventDefault();
            let result = true;
            $('table tr').each(function() {

                row = $(this).closest('tr');
                find_id = parseInt(row.find('td').eq(0).text());

                if (itemId == find_id) {
                    alert("You have entered the same Item!");
                    result = false;
                }

            });
            return result;

        }

        $('#button').click(function (e) {
            e.preventDefault();

            itemId = $('#item_id').val();
            itemName = $("#item_id option:selected").text();
            rate = $('#rate').val();
            qty = $('#qty').val();
            amt = rate * qty;


            if (checkDuplicate(itemId)) {
                $('table tbody').append(
                    `<tr>
                        <td id="item-id" hidden> ${itemId} </td > 
                        <td id="item-name"> ${itemName} </td>
                        <td id="qty-list">
                            <i id="minus" class="fa mr-2 fa-minus-circle"></i> <span id="q"> ${qty} </span> <i id="plus" class="fa ml-2 fa-plus-circle"></i>
                        </td>
                        <td id="rate-list"> ${rate} </td >
                        <td id="amt"> ${amt} </td>
                        <td>
                            <button id="removeButton" class="btn btn-danger"> <i class="fa fa-trash"></i> </button>
                        </td>
                    </tr >`
                );

            }

            calculateTotal();

        });


        $('body').delegate("#minus",
            "click",
            function(e) {

                e.preventDefault();

                row = $(this).closest("tr");
                rate = row.find("td").eq(3).text();
                qty = parseInt(row.find("td").eq(2).text());
                qty--;

                if (qty > 0) {

                    amt = rate * qty;


                    parseInt(row.find("td").eq(4).text(amt));
                    calculateTotal();


                    var counter = parseInt(row.find("#qty-list").text());
                    counter--;
                    row.find("#q").text(counter);

                } else {

                    row.find("#minus").attr("disabled", true);

                }


            });


        $('body').delegate("#plus",
            "click",
            function(e) {
                e.preventDefault();

                row = $(this).closest("tr");

                rate = row.find("td").eq(3).text();
                qty = row.find("td").eq(2).text();
                qty++;
                amt = rate * qty;


                parseInt(row.find("td").eq(4).text(amt));
                calculateTotal();


                var counter = parseInt(row.find("#qty-list").text());
                counter++;
                row.find("#q").text(counter);

            });


        $('#item_id').trigger('change');


        function calculateTotal() {

            var total = 0;
            $('table tr').each(function () {
                var value = parseInt($('td', this).eq(4).text());
                if (!isNaN(value)) {
                    total += value;
                }
                var discount = $('#discount').val();
                var grand = (parseFloat(total) - parseFloat(discount));
                console.log(grand);
                $('#grand').val(grand.toFixed(2));
                $('#totalAmt').val(total.toFixed(2));
            });
        }

        $('body').delegate('#removeButton', 'click', function (e) {
            e.preventDefault();
            $(this).closest('tr').remove();
            calculateTotal();
        });

        function checkIfEmpty() {
            var tbody = $(".table>tbody>tr");

            if (tbody.length > 0) {
                return true;
            }
            else {
                alert("Your Purchase List is Empty...");
                return false;
            }
        }

        $("#btnSave").click(function (e) {
            e.preventDefault();

            checkIfEmpty();

            var url = `/Purchase/Create`;

            var data = {
                SupplierId: $('#SupplierId').val(),
                ItemId: $('#item_id').val(),
                Total: $('#totalAmt').val(),
                GrandTotal: $('#grand').val(),
                Discount: $('#discount').val(),
                Remarks: $('#remarks').val(),
                PurchaseDetails: [],

            }

            $('table>tbody>tr').each(function () {
                console.log('each function triggered...');

                data.PurchaseDetails.push({
                    ItemId: $(this).find('#item-id').text(),
                    SupId: $(this).find('#SupId').val(),
                    Qty: $(this).find('#q').text(),
                    Rate: $(this).find('#rate-list').text(),
                    Amount: $(this).find('#amt').text(),
                });
            });


            $.ajax({
                url: url,
                data: data,
                type: 'POST',
                dataType: 'json',
                success: function (data, status) {
                    console.log(data);
                    alert("Purchase Saved Successfully!");
                    window.location.href = `/Purchase/Index`;

                }
            });

        });


    });
</script>

}