<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inventory</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/select2-4.1.0/select2-4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />

</head>
<body class="sb-nav-fixed">
    @await Html.PartialAsync("_Navbar")


    <div id="layoutSidenav">
        @await Html.PartialAsync("_SideNav")

        <div id="layoutSidenav_content">
            <main>
                <section style="margin-top: 3em;">
                    @RenderBody()

                </section>
            </main>
        </div>
    </div>
    @await Html.PartialAsync("_Footer")
    <script src="~/lib/jquery/jquery-3.5.1.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script src="~/lib/select2-4.1.0/select2-4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
