<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fa fa-dashboard"></i></div>
                    Dashboard
                </a>
                <a class="nav-link" asp-controller="Unit" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fa fa-balance-scale"></i></div>
                    Units
                </a>
                <a class="nav-link" asp-controller="Item" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fa fa-cube"></i></div>
                    Items
                </a>


                <div class="sb-sidenav-menu-heading">Human Resource Management</div>
                <a class="nav-link" asp-controller="Customer" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>
                    Customers (depreciated)
                </a>
                <a class="nav-link" asp-controller="Supplier" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fa fa-ship"></i></div>
                    Suppliers
                </a>

                <div class="sb-sidenav-menu-heading">Transactions</div>
                <a class="nav-link" asp-controller="Sale" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fa fa-tags"></i></div>
                    Sales (depreciated)
                </a>
                <a class="nav-link" asp-controller="Purchase" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fa fa-money"></i></div>
                    Purchases
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>