
@{
    ViewData["Title"] = "Its New";
}

<h1>Basic CRUD</h1>
<small class="text-muted">Basic Crud operation using .NET. Here we Go!</small>

<form class="mt-3">
    <div class="form-row">
        <div class="col">

            <input type="text" class="form-control" placeholder="Full Name" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="City" />
        </div>
        <button class="btn btn-block btn-info mt-3" >Submit</button>
    </div>
</form>
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">City</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Abc</td>
            <td>ktm</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>bcd</td>
            <td>ktm</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>efg</td>
            <td>btm</td>
        </tr>
    </tbody>
</table>
